includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    bootstrapFiles:
        - phpstan-bootstrap.php
        - vendor/ellsaw/nextpress-theme/phpstan-bootstrap.php
    paths:
        - functions.php
        - src/
    scanDirectories:
        - vendor/ellsaw/nextpress-theme/src
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
