# ==========================================
# Database Configuration (MySQL)
# ==========================================

MYSQL_ROOT_PASSWORD={{MYSQL_ROOT_PASSWORD}}
MYSQL_DATABASE={{MYSQL_DATABASE}}

# ==========================================
# WordPress / WP-CLI Configuration
# ==========================================
WP_SITE_URL=http://localhost:8080
WP_SITE_TITLE={{WP_SITE_TITLE}}
WP_ADMIN_USER={{WP_ADMIN_USER}}
WP_ADMIN_PASSWORD={{WP_ADMIN_PASSWORD}}
WP_ADMIN_EMAIL={{WP_ADMIN_EMAIL}}

CROSS_CONTAINER_API_KEY={{CROSS_CONTAINER_API_KEY}}
