.wysiwyg-content {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1.75rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

	p,
	ul,
	ol {
		a {
			@apply text-blue-500 underline;

			&:hover {
				@apply no-underline;
			}
		}
	}

	ul {
		li {
			@apply list-disc list-inside;
		}
	}

	ol {
		li {
			@apply list-decimal list-inside;
		}
	}
}


